<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.wdxxl.ihighlighter" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>ihighlighter</name>
	<js-module name="ihighlighter" src="www/ihighlighter.js">
		<clobbers target="cordova.plugins.ihighlighter"/>
	</js-module>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="ihighlighter">
				<param name="ios-package" value="ihighlighter"/>
			</feature>
		</config-file>
    
    <framework src="libiconv.dylib"/>
    <framework src="libz.dylib" />

    <!-- customer code-->
    <source-file framework="true" src="src/ios/libs/libwdxxl_highlighter_350_arc_lib.a" target-dir="../../.."/>
    <header-file src="src/ios/org" />

    <header-file src="src/ios/HighlighterDemo.h"/>
		<source-file src="src/ios/ihighlighter.m"/>

	</platform>
</plugin>
